
carmind_app/.gradle/6.9/fileChanges/last-build.bin

carmind_app/.gradle/6.9/fileHashes/fileHashes.lock

carmind_app/.gradle/6.9/gc.properties

carmind_app/.gradle/checksums/checksums.lock

carmind_app/.gradle/vcs-1/gc.properties
